@charset "UTF-8";
html {
	width:100%;
	height:100%;
	
	margin:0;
	padding:0;
}

body {
	width:100%;
	height:100%;
	
	margin:0;
	padding:0;
	
	background: linear-gradient(#005bbb, #005bbb 50%, #ffd500 50%, #ffd500 100%);
	
	position:relative;
}

#wrapper {
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	margin:auto;
	padding:10px;
	
	width:90%;
	height:90%;
	
	background:rgba(255,255,255,0.8);
	border-radius:20px;
}

header {
	margin:0;
	padding:0;
}
.main {
	text-align:center;
	font-size:3em;
}
.big {
	font-size:15vw;
	font-style:bold;
}

footer {
	text-align:right;
}

footer ul {
	list-style-type:none;
}